build

*.log
*.md
.git
.gitignore
.editorconfig
LICENSE
.next
.idea
.pnpm-store
.turbo
docker
.cursorignore
.dockerignore
**/.vscode
**/node_modules
**/.DS_Store
**/dist
**/.output
**/.nuxt
**/.next
apps/web/node-compile-cache
public/web
fb_tables_backup*